
RelHaxLog.txt
RelHaxSettings.xml
RelhaxModpack.exe
*.lnk
*.zip
RelHaxUserConfigs
*.bat
*.back
MD5HashDatabase.xml
/RelHaxDownloads/onlineDatabase.xml
/RelHaxTemp/managerInfo.dat
/manager_version.xml
/l3key.txt
/RelHaxTemp/*.dat
*.wotreplay
/UISettings.xml
/missingPackages.txt
desktop.ini
*.dll
/RelhaxModpackV2.exe
/EditorSettings.xml
/Relhax.log
/RelhaxEditor.log
/RelhaxUpdater.log
/key.txt
